body {
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  background: black
}

#error {
  background: red;
  color: white;
  font-size: 24px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#videoElement {
  width: 1920px;
  height: 1080px;
  margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  border: 0px;
  background-color: #000;
}

#contextMenu {
  position: fixed;
}
